{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "rules": {
    "react/display-name": "warn",
    "no-console": "warn",
    "no-undef": "off"
  }
}
